*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

.wrapper{
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}

.columns{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;

}

.colum{
  flex: 1;
  border: 0px  #666;
  margin: 2px;
  padding: 10px;
  background: white;
  transition: 0.3s;
  border-radius: 20px;
  

}

@media screen and (max-width:980px) {
  .columns .colum  .navbar .navdiv .wrapper .logo{
      margin-bottom: 5px;
      flex-basis: 40%;
  }
 
}


@media screen and (max-width:680px) {
  .columns .colum  .navbar .navdiv .wrapper .logo{
      flex-basis: 100%;
      margin: 0 0 5px 0;
  }
 
}

  .image-content, .card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
} 
  
  .card{
  
    border-radius: 25px;
    background-color: #fff;
  }

  .card-image{
    position: relative;
     height: 150px;
     width: 150px;
     border-radius: 50%; 
     background-color: #fff;
     padding: 3px;
  }

  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%; 
    border: 4px solid #4070F4; 
  }


.name{
    font-size: 18px;
    font-weight: 500;
    color: #af2727;
}

.description{
    font-size: 16px;
    color: #707070;
    text-align: center;
}
.overlay{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before, .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}